body {
  margin: 0;
  font: 500 17.8889px "Poppins", sans-serif;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h4 {
  font-weight: 500;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 990px) {
  body {
    font-size: 14px;
  }
}
